<div class="show-entry">
  <h1><%= @article.title %></h1>
  <h5>Tags:
    <% @article.tags.each do |tag| %>
      <%= link_to tag.name, tag_path(tag) %>
    <% end %>
  </h5>
  <h3><%= @article.body %></h3>
  <h4><i>$<%= @article.cash %>, on <%= @article.start_date %></i></h4>

  <h3>Notes (<%= @article.comments.size %>)</h3>

  <%= render partial: 'articles/comment', collection: @article.comments %>

  <%= render partial: 'comments/form' %>
</div>


<%= link_to "<< Back to Entries List", articles_path %>
<%= link_to "delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"} %>
<%= link_to "edit", edit_article_path(@article) %>
